#include <opencv2/opencv.hpp>

int main() {
    cv::VideoCapture cap("videotest.mp4");  //getting the video frame by frame

    if (!cap.isOpened()) {
        std::cerr << "Error: Could not open the video file." << std::endl;
        return -1;
    }

    cv::Mat frame;
    cv::namedWindow("Video", cv::WINDOW_NORMAL);

    while (true) {
        cap >> frame;  // Capture a frame from the video
        if (frame.empty()) {
            std::cerr << "End of video." << std::endl;
            break;
        }

        cv::imshow("Video", frame);  // Display the frame

        // Press ' ' to exit the loop
        if (cv::waitKey(1) == 'q') {
            break;
        }
    }

    cv::destroyWindow("Video");
    return 0;
}
